/*This file contains all the styling for the Partners and footer sections for the Talanta mtaani project*/

/*It was designed with a mobile first approach to design */

@import url('http://fonts.cdnfonts.com/css/cocogoose');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}
h1 {
  font-family: 'COCOGOOSE', sans-serif;

}
p {
  font-size: 17px;
}
p, h2, h3{
  font-family: 'Lato', sans-serif;
}

/* section styling */

.partners {
  width: 100%;
  background: #272a31;
}

.partnersHeader {
  text-align: center;
  padding: 24px 0;
}
.partnersHeader h2 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 32px
}
.partnersHeader hr {
  border-bottom: 4px solid #ec5242;
  margin: 0 40%;
}

.partnersSect {
  margin: 10px 16px 0 16px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.partnersSect h3 {
  opacity: .6;
  padding: 8px;
  color: #d3d3d3;
}

/* Footer section */
.footer {
  width: 100%;
  margin: 24px;
  display: flex;
  /* gap: 10px; */
}
.footer .footerLeft {
  flex: 1;
  margin: auto auto;
}
.footer .footerLeft img {
  max-width: 100%;
}
.footer .footerRight {
  margin: auto auto;
  flex: 2;
}
.footerRight p {
  font-size: 17px;
  color: #272a31;
}