/* This file contains all the styling for the judges section for the Talanta mtaani project */

/* It was designed with a mobile first approach to design */

@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
}

p {
  font-size: 17px;
}

p,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

/* section styling */

.judges {
  width: 100%;
  background: #fff;
}

.judgesHeading {
  text-align: center;
  padding: 30px 0;
}

.judgesHeading h2 {
  margin-bottom: 10px;
  color: #272a31;
  font-size: 32px;
}

.judgesHeading hr {
  border-bottom: 4px solid #ec5242;
  margin: 0 40%;
}

/* Individual judges */

.judgesSect {
  margin: 24px 30px 0 30px;
  padding-bottom: 20px;
}

.judge {
  display: flex;
  gap: 15px;
  color: #272a31;
  margin-bottom: 35px;
}

.judgeLeft {
  position: relative;
  top: 0;
  left: 0;
  flex: 1;
  transition: transform 0.5s;
}

.judgeLeft:hover {
  transform: translateY(-7px);
}

.judgeLeft img {
  max-width: 100%;
  z-index: 1;
}

.judgeLeft .jj {
  position: relative;
  top: 0;
  left: 0;
}

.judgeLeft .bg {
  z-index: 0;
  width: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  opacity: 0.7;
}

.judgeRight {
  transition: transform 0.5s;
  flex: 1;
}

.judgeRight:hover {
  transform: translateY(7px);
}

.judgeRight h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

.judgeRight h3 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ec5242;
  margin-bottom: 6px;
}

.judgeRight p {
  font-size: 16px;
}

/* Responsive design -> Tablet version */

@media screen and (min-width: 768px) {
  .judgesHeading {
    padding-top: 37px;
    text-align: center;
  }

  .judgesHeading h2 {
    font-size: 33px;
  }

  .judgesHeading hr {
    margin: 0 47%;
  }

  .judgesSect {
    margin: 5% 13%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

/* Responsive design -> Desktop version */

@media screen and (min-width: 1100px) {
  .judgesHeading {
    padding-top: 40px;
    text-align: center;
  }

  .judgesHeading h2 {
    font-size: 35px;
  }

  .judgesHeading hr {
    margin: 0 46%;
  }

  .judgesSect {
    margin: 7% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
