@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
}

/*actual page styling*/
.desktopHide {
  display: block;
}
.mobileHide {
  display: none;
}

.popup {
  display: none;
  background: linear-gradient(rgba(128, 0, 0, 0.9), rgba(128, 0, 0, 0.9)), url(../../images/crowd2.jpeg);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.closeForm {
 float: right;
}
.closeForm img {
  width: 25px;
  position: absolute;
  top: 4%;
  right: 7%;
  cursor: pointer;
}

.formbody {
  clear: right;
  position: absolute;
  top: 43%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}
.popuplogo {
  margin: auto;
  position: relative;
  left: 29%;
}
.popuplogo img {
  max-width: 40%;
}
form label {
  color: #d3d3d3;
}
form input {
  outline: 0;
  border: none;
  padding: 10px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #dbd8d7;
  background: none;
  margin-bottom: 17px;
  color: #fff;
}
form textarea {
  outline: 0;
  background: none;
  width: 100%;
  height: 12vh;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 17px;
}
::placeholder {
  color: #fff;
}
form button {
  background: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-width: 2px solid #fff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: .5s;
}
form button:hover {
  background: #fff;
  color: #000;
}

/* Responsive form section */

@media screen and (min-width: 768px) {
  .desktopHide {
    display: none;
  }
  .mobileHide {
    display: block;
  }
  .popup {
    position: fixed;
    display: none;
  }
  .formbody {
    clear: right;
    position: absolute;
    top: 33%;
  }
  .popuplogo {
    margin: auto;
    position: relative;
    top: 20%;
    left: 39%;
  }
  .popuplogo img {
    max-width: 20%;
  }
  form button {
    cursor: pointer;
  }
}